<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 160px; background-image: url(assets/img/theme/profile-coverr.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <!-- <h3 class="display-2 text-white">About The Data</h3> -->
        <p class="text-white mt-0 mb-5">Visit the <a href="https://oro.restaurant/" target="_blank">Orodata Science and Civic Tech</a> where our experts help to advance access to information, improve policies, and solve public problems through the development of civic technology tools, institution engagement, support and civil society partnerships.</p>
        <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <!-- <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              Jessica Jones<span class="font-weight-light">, 27</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
            <a href="javascript:void(0)">Show more</a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">About Orodata’s COVID-19 Vaccine Dashboard (OCVD)</h3>
            </div>
            <!-- <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <form>
            <h5 class="heading-small text-muted mb-4">
              The COVID-19 pandemic greatly highlighted the need for data and the value of models to inform response
              strategies. It further illustrated that anticipatory action is no longer a conjectured idea but rather a
              framework upon which the protection of the most vulnerable populations can be built.</h5>

            <h5 class="heading-small text-muted mb-4">
              The pandemic reinforced a global demand for the use of data, most especially the tools of predictive
              analytics to anticipate and predict what would happen and to activate response mechanisms earlier. For
              this purpose, the Orodata Covid-19 Vaccine Dashboard (OCVD) was built.</h5>

            <h5 class="heading-small text-muted mb-4">
              The OCVD serves as an epidemic forecasting tool through which stakeholders can garner deep insights into
              the depth of the outbreak, especially the vaccination administration efforts of government and allied
              actors.</h5>

            <h5 class="heading-small text-muted mb-4">
              The OCVD in-corporates different vulnerability indices to provide cognizance on the size of the crisis and
              the pre-existing challenges, at not just the national but sub-national levels. It further points to how
              these different indices could be impacting the vaccine rollout and overall war against the pandemic.</h5>

            <h5 class="heading-small text-muted mb-4">
              The OCVD is a tool that provides decision-makers with the capability to anticipate, predict, plan, and
              manage resources during a pandemic.
            </h5>

            <h3 class="mb-0">Guiding Principles</h3>

            <h5 class="heading-small text-muted mb-4">
              The OCVD is built under the <a
                href="https://restoredatarights.africa/the-restoredatarights-declaration/#1602855918350-a23b14eb-4b62"
                target="_blank">The #RestoreDataRights Declaration</a>.
            </h5>

            <h5 class="heading-small text-muted mb-4">
              We believe that decisions, and decision-making processes, taken around how sensitive data are collected,
              shared and used to tackle the COVID-19 pandemic in Africa should be transparent, inclusive and
              accountable.
            </h5>

            <h5 class="heading-small text-muted mb-4">
              <strong>1.‘Transparent’</strong> means:
            </h5>

            <h5 class="heading-small text-muted mb-4">
              <ul>
                <li>Aggregated data and metadata are open to the public</li>
                <li>Open source software and algorithms are used to analyse data</li>
                <li>Information on what entities are collecting data, from what communities and for what purposes are made available to the public</li>
                  <li>Data sharing agreements and related documents are openly published</li>
                    <li>Data ‘suppliers’ and other private sector actors are procured through open and competitive tender processes</li>
                      <li>Government COVID-19 related data strategies and plans are made publicly available</li>
                <li>Details of intra-governmental data sharing are made openly available and are subject to parliamentary, judicial and public scrutiny</li>
              </ul>
            </h5>


            <h5 class="heading-small text-muted mb-4">
              <strong>2.‘Inclusive’</strong> means:
            </h5>

            <h5 class="heading-small text-muted mb-4">
              <ul>
                <li>Decisions made around how COVID-19 data are used are taken through established democratic processes</li>
                  <li>The public is consulted on how sensitive data (e.g. location data derived from mobile phones) are shared and used to tackle COVID-19, and their responses are used to inform policy interventions</li>
                    <li>Any public-private data partnerships that are established to share and use COVID-19 related data should also include representatives from civil society and digital rights groups</li>
                      <li>The needs of vulnerable groups are taken into account and steps to protect ‘sensitive group data’ are included alongside actions to protect individuals’ data</li>

              </ul>
            </h5>


            <h5 class="heading-small text-muted mb-4">
              <strong>3.‘Accountable’</strong> means:
            </h5>

            <h5 class="heading-small text-muted mb-4">
              <ul>
                <li>Appropriate steps are taken to protect data that could, either alone or when combined with other data, result in the identification of individuals or vulnerable groups within datasets used to tackle COVID-19</li>
                  <li>Data collected for epidemiological purposes shall not be shared or used by other parts of government, such as police forces or Ministries of Interior</li>
                    <li>Protocols shall be established to respond to potential data breaches of datasets containing sensitive data</li>
                      <li>Individuals or vulnerable groups who may be harmed by the misuse of their data in response to the COVID-19 pandemic – either intentionally or accidentally – shall have access to judicial redress and due process</li>
                        <li>Governments and public bodies shall retain all intellectual property rights over databases and all derivative data outputs produced using African citizens’ data as part of the COVID-19 response</li>
                          <li>Governments, private companies and other entities shall commit to engaging with civil society organisations and digital rights defenders in order to identify responsible and practicable ways of winding-down any emergency data collection, processing and use at the end of the pandemic, in accordance with local laws and in line with international best practices</li>

              </ul>
            </h5>

            <h5 class="heading-small text-muted mb-4">
              <strong>
                African Data Hub is a reputable and up-to-date source for COVID-19 related data on the African continent. ADH provides access to near real-time COVID-19-related data in user-friendly formats and seeks to support and promote quality data-driven journalism and in turn, facilitate evidence-based decision-making about the pandemic across the continent.
              </strong>
            </h5>

            <h5 class="heading-small text-muted mb-4">
              <strong><u>Terms of use</u></strong>
            </h5>

            <h5 class="heading-small text-muted mb-4">
              <ul>
                <li>This website and its contents herein, including all data, mapping, and analysis are copyright 2021 Orodata Science and Civic Tech, all rights reserved. When linking to the website, attribute the Website as the "COVID-19 Vaccine Dashboard by Orodata Science and Civic Tech". </li>
 	
	
                  <li>This data set underlying the map, is licensed under the Creative Commons Attribution 4.0 International by Orodata Science and Civic Tech. Copyright Orodata Science and Civic Tech 2021. Attribute the data to the "COVID-19 Vaccine Dashboard by Orodata Science and Civic Tech.</li>
 	
	
                    <li>For publications that use the data, please cite the following publication: "COVID-19 Vaccine Dashboard by Orodata Science and Civic Tech". </li>
              </ul>
            </h5>
            <!-- <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Lucky">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" /> -->
            <!-- Address -->
            <h5 class="heading-small text-muted mb-4">Visit the <a href="https://orodataviz.com/" target="_blank">Orodata Science and Civic Tech</a> where our experts help to advance access to information, improve policies, and solve public problems through the development of civic technology tools, institution engagement, support and civil society partnerships.</h5>
            <h4 class="heading-small text-muted mb-4">Orodata Covid-19 Vaccine Dashboard (OCVD) is supported by the <a href="https://africadatahub.org/" target="_blank">Africa Data Hub (ADH)</a>.</h4>
            <!-- <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" /> -->
            <!-- Description -->
            <!-- <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
